@model IEnumerable<ContosoBadBank.Models.Order>

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>

<p>
    <a asp-action="Buy">Buy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TradeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockSymbol)
            </th>
            <th>
                Nr of Traded Items
            </th>
            <th>
                Price
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model )
        {
            
        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.TradeDate)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.StockSymbol)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.NrOfTradeItems)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>

                <a asp-action="Details" asp-route-id="@item.ID">Details</a>

            </td>
        </tr>
        
        }
    </tbody>
</table>
